.all{
    border: 2px solid ;
    display: flex;
    width: 600px;
    height: 400px;
    background-color:rgb(251, 248, 248);
    box-shadow: 2px 2px 2px 2px rgba(232, 115, 115, 0.672);
}
.h4{
    color: #f0f8ff;
    background-color: black;
    width: 120px;
    border-radius: 30px;
    text-align: center;
    font-style: italic;
    height: 20px;
}
.h2{
    font-style: oblique;
    width: 320px;
}
.price{
    text-decoration: line-through;
    font-size: 18px;
    font-style: italic;
    height: 6px;
}
.h{
    font-size: 30px;
    height: 26px;
    
    
}
.p{
    color: rgb(143, 140, 136);
    font-style: italic;

}
.click{
    height: 40px;
    width: 300px;
    background-color: rgba(22, 68, 234, 0.622);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 255, 0.533);
    border-radius: 10px;
}   
.ul{
    font-style: italic;
    margin-left: -20px;

}


ul li::marker {
    color: rgb(66, 184, 23); /* Color of the bullet points */ 
    
}
.jusic{
    display: flex;
    gap: 10px;
}
.f{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
}
.s{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}
.all{
    display: flex;
    justify-content: center;

}
.asa{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body{
    background-image: url(https://images.pexels.com/photos/4417069/pexels-photo-4417069.jpeg?cs=srgb&dl=pexels-dylan-chan-2880813-4417069.jpg&fm=jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
